@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

/* Estilos gerais */

:root {
    --dark-blue: #063e92;
    --light-blue: #0651C2;
    --sky-blue: #068CC2;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a,
.btn {
    transition: all 300ms ease;
}

.nav-links a:hover {
    background-color: var(--white);
    color: var(--light-blue);
}

nav a {
    padding: 5px;
    border-radius: 5px;
}

.white__section__text__p1 {
    text-align: center;
    color: var(--sky-blue);
}

.white__section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: var(--sky-blue);
}

.blue__section__text__p1 {
    text-align: center;
    color: var(--white);
}

.blue__section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: var(--white);
}

h3 {
    color: var(--light-blue);
}

/* Navbar para desktops */

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background-color: var(--light-blue);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    color: var(--white);
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: var(--white);
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

.my-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
}

/* Navbar para dispositivos mobile */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 44px;
    width: 50px;
    cursor: pointer;
    color: var(--white);
}

.close-icon {
    display: none;
    height: 44px;
    width: 50px;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--dark-blue);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* Seções */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* Seção Perfil */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    color: var(--dark-blue);
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Ícones */

.icon {
    cursor: pointer;
    height: 2rem;
    color: var(--dark-blue);
    width: 30px;
    height: 30px;
}

/* Botões */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: var(--sky-blue) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: var(--sky-blue);
    color: white;
}

.btn-color-1:hover {
    background: var(--dark-blue);
}

.btn-color-2 {
    background: none;
    color: var(--dark-blue);
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* Seção Sobre Mim */

#about {
    position: relative;
    background-color: var(--light-blue);
    margin: auto;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    color: var(--white);
}

#text {
    margin: 10px;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
    margin: 20px;
}

.arrow__blue {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    color: var(--light-blue);
}

.arrow__white {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    color: var(--white);
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: var(--sky-blue) 0.1rem solid;
    border-color: var(--sky-blue);
    text-align: center;
    margin: 20px;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.about-text {
    color: var(--sky-blue);
}

.text-container {
    margin: 10px;
}

.details-container .icon {
    cursor: default;
}

/* Seção Experiências */

#experience {
    position: relative;
    color: var(--dark-blue);
}

.experience-sub-title {
    color: var(--sky-blue);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* Seção Projetos */

#projects {
    position: relative;
    background-color: var(--light-blue);
    margin: auto;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    color: var(--white);
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: var(--light-blue);
}

.project-btn {
    height: auto;
    width: auto;
    color: var(--dark-blue);
    border-color: var(--sky-blue);
}

/* Seção Contato */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    color: var(--dark-blue);
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: var(--sky-blue) 0.1rem solid;
    border-color: var(--sky-blue);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container {
    font-size: larger;
}

#contact a {
    color: var(--dark-blue);
}

#contact a:hover {
    color: var(--sky-blue);
}

#contact ion-icon {
    cursor: default;
}

/* Footer */

footer {
    margin-bottom: 0;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}